@model BookingPlaceInRestaurant.Models.GuestsModel.Guest
@using BookingPlaceInRestaurant.Models.PlacesModel
@{
    List<int> NumberOfGuests = new List<int>();
    Place place = ViewBag.Place;
    for (int i = 1; i <= place.NumberOfSeats + 1; i++)
    {
        NumberOfGuests.Add(i);
    }
}
<form asp-action="BookPlace" asp-controller="Home" method="post"
      asp-route-dateVisit="@ViewBag.DateVisit.ToShortDateString()"
      asp-route-placeId="@place.Id"
      asp-route-tableNumber="@place.TableNumber"
      asp-route-numberOfSeats="@place.NumberOfSeats">
    <div class="text-center">
        Date : @ViewBag.DateVisit.ToShortDateString()
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Time1"></label>
                <input type="time" asp-for="Time1" class="form-control" />
                <span asp-validation-for="Time1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time2"></label>
                <input type="time" asp-for="Time2" class="form-control" />
                <span asp-validation-for="Time2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfGuests"></label>
                <select class="form-control" asp-for="NumberOfGuests"
                        asp-items="@new SelectList(NumberOfGuests)">
                </select>
                <span asp-validation-for="NumberOfGuests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedTable"></label>
                <input asp-for="SelectedTable" class="form-control" value="@place.TableNumber" readonly="readonly" />
                <span asp-validation-for="SelectedTable" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" value="@ViewBag.GuestEmail" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="PlaceId" value="@place.Id" />
        <input type="hidden" asp-for="DateVisit" value="@ViewBag.DateVisit" />
    </div>
    @if (User.Identity.IsAuthenticated == true)
    {
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Book Place</button>
        </div>
    }
    else
    {
        <div class="text-center">
            <div class="btn btn-outline-dark">In order to Book Place, Please register or login your account </div>
        </div>
    }

</form>
<div class="text-center">
    <a asp-action="Index"
       asp-controller="Home"
       asp-route-isToBook=""
       asp-route-dateVisit="@ViewBag.DateVisit.ToShortDateString()"
       class="btn btn-outline-warning">
        Cancel
    </a>
</div>

@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}