@using BookingPlaceInRestaurant.Models.PlacesModel
@{
    Layout = "_Layout";
    IQueryable<Place> GetAllPlaces = ViewBag.GetAllPlaces;
}

<form method="get" asp-controller="Home" asp-action="Index" class="form-inline">
    <label class="m-1">Date:</label>
    <input type="date" class="form-control" name="dateVisit" />
    <input type="submit" value="Find" class="btn btn-danger" />
</form>
<h1>@ViewBag.DateVisit</h1>
<div class="row">
    <div class="col">
        @foreach (var item in GetAllPlaces)
        {
            <div>
                <div>
                    <a asp-action="Index" 
                       asp-controller="Home"
                       asp-route-isToBook="true"
                       asp-route-placeId="@item.Id"
                       asp-route-dateVisit="@ViewBag.DateVisit.ToShortDateString()"
                       asp-route-tableNumber="@item.TableNumber"
                       asp-route-numberOfSeats="@item.NumberOfSeats"
                       class="btn btn-outline-dark">
                        @item.TableNumber ) @item.NumberOfSeats
                    </a>
                </div>
            </div>
        }
    </div>
    @if (ViewBag.IsToBook == true)
    {
        <div class="col">
            @await Html.PartialAsync("BookPlace")
        </div>
    }
</div>